chromadb
sentence-transformers
pydantic-settings 
pydantic<2.12
fastapi
uvicorn
openai
python-dotenv
requests
mcp
ollama
tabulate
langchain
langchain_core
langchain_openai
langchain-community
langchain-chroma
langsmith
openevals
tiktoken
jupyter
pymupdf
python-arango
matplotlib